.ipynb_checkpoints
04-Isometric_Mapping/.ipynb_checkpoints
03-Fisher_Discriminant_Analysis/.ipynb_checkpoints
02-Principal_Component_Analysis/.ipynb_checkpoints
01-Locally_Linear_Embedding/.ipynb_checkpoints